@*
    The at symbol on the top and bottom is named razor and is used to inject c# into the page
*@
@{
    ViewBag.Title = "About";
    var blueColor = "Blue";
}
<h2>@ViewBag.Title.</h2>
<div style="color: @blueColor">@ViewBag.Message</div>
<p>Use this area to provide additional information.</p>

@{
    var amounts = new List<decimal> {100, 25.2m, -30, 1, -99};
}

<ul>
    @foreach (var a in amounts)
    {
        <li>@formatAmount(a)</li>
    }

</ul>

@helper formatAmount(decimal amount)
{
    var color = "green";
    if (amount < 0)
    {
        color = "red";
    }
    <span style="color: @color">@String.Format("{0:c}", amount)</span>
}

<h2>You're using @Request.Browser.Browser</h2>